.body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "header header header" "aside main main";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 70px;
}

header {
  grid-area: header;
  padding: 0px 50px;
  color: white;
  line-height: 60px;
  background-color: #2d4dbf;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
aside {
  grid-area: aside;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 0px 2px;
}

main {
  grid-area: main;
  background-color: #e9f0ff;
  padding: 10px 50px;
}



main .Assets-header {
  width: 100%;
  text-align: right;
}
.form-group01{
  height: 60px;
  display: flex;
  align-items: center;
}
.form-group{
  margin-top: 10px;
}
.form-group .addIcon{
  margin:10px;
  cursor: pointer;  
  line-height: 10px;
}
form .row-f{
  display: flex;
}
form .col-f{
  width: 50%;
  margin-right: 10px;
}
form .error{
  color: red;
  font-size: 16px;
}
.category-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-file{
  background-color: rgb(181, 178, 178);
  padding: 10px;
  font-size: 16px;
  font-weight: 500;  
} 
.attachment{
  /* background-color: red; */
  padding: 10px;
}
.file-update{
  margin-top: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.logoimg{
  padding: 6px 15px;
  margin: 0;
  max-height: 54px;
  border-radius: 5px;
  background-color: #e9f0ff;
}
.view-img{
  width: 500px;
  height: 200px;
}
