body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "header header header" "aside main main";
  }
  header{
    grid-area: header;
  }
  aside{
    grid-area: aside;
  }
  main{
    grid-area: main;
  }